[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
sqlalchemy = "*"
pymysql = "*"
sqlalchemy-utils = "*"
flask-wtf = "*"
passlib = "*"
wtforms-alchemy = "*"
wtforms-json = "*"
babel = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
