[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
flask = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
pymysql = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
